{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <div class="content">{{ .Content }}</div>
        <form method="POST" action="{{ .Site.Params.contactFormAction | safeURL}}" class="row" name="contact" netlify>
          <div class="col-md-6">
            <input type="text" class="form-control mb-4" placeholder="Name" name="name" id="name">
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control mb-4" placeholder="Email" name="email" id="email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" placeholder="Subject" name="subject" id="subject">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Type You Message Here"
              rows="5"></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary btn-block" type="submit">Send</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 text-md-right">
        <img class="img-fluid" src="{{ .Params.Image | relURL }}" alt="">
      </div>
    </div>
  </div>
</section>

{{ end }}